// load bootstrap styles
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$bootstrap-sass-asset-helper: false;
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// load font-awesome styles
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  @import './footer/styles.scss';
}

.about {
  @import './about/styles.scss';
}
