/* Bootstrap-Sass */
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$bootstrap-sass-asset-helper: false;
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

/* FontAwesome */
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

/* CSS3 Angular animations */
@import '~angular-motion/dist/modules/collapse.css';

/* Animation for angular-strap navbar collapse */
.collapse.am-collapse {
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}
